<a href="{{collection.href}}">api</a>
<h2>{{name}}</h2>
<ul>
  {{#each collection.items}}
    <li>
      <div data-item="{{json .}}">
        {{name}}
        <a href="{{href}}" target="_blank">
          url</a>
        <a href="#" class="list">
          list</a>
        <a href="#" class="add">
          add</a>
      </div>
    </li>
  {{/each}}
</ul>
